*{
    font-family: sans-serif;
}
.footer{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: blue;
    background-color: white;
}

.footer p{
    text-align: center;
    font-size: small;
}